<div class="background-img" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.8)), url('https://source.unsplash.com/koo_vYrlU_U');">
  <div class="background-form">
    <h4>Edit user information</h4>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
          <%= f.input :password,
                      hint: "Leave blank if unchanged",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :current_password,
                      hint: "Enter current password to confirm changes",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :photo,
                      hint: "Chose your profile picture"%>
          <%= f.input :photo_cache, as: :hidden %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Confirm changes", {class: 'btn btn-carbon-primary btn-carbon-lg'} %>
        </div>
      <% end %>
      <br>
      <h5>Unhappy with your account?</h5>
      <%= link_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-carbon-primary' %>
      <%= link_to "Back", :back, class: 'btn btn-carbon-primary' %>
  </div>
</div>


