  <div class="text-center" style="padding: 15px">
    <h3>View our Tees from around the world!</h3>
    <div class="search-bar" style="width: 50%;">
      <%= form_tag tshirts_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search Our Tees"
        %>
      <% end %>
      <% if @results %>
        <% @results.each do |each| %>
        <%= each.description %>
      <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="container-fluid">
    <div class="row">
      <% @tshirts.each do |tshirt| %>
        <div class="col-md-3">
          <div class="card">
            <img src="<%= cl_image_path tshirt.photo, height: 250, crop: :fill %>" alt="">
            <div class="card-details">
              <h1><%= link_to tshirt.name, tshirt_path(tshirt) %></h1>
              <h2><%= tshirt.description %></h2>
              <h2>$24.99</h2>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>

