  <div class="text-center" style="padding: 15px">
    <h3>View our Tees from around the world!</h3>
    <%= link_to "Add a new shirt", new_tshirt_path, {class: 'btn btn-primary'} %>
  </div>



  <div class="container">
    <div id="map" style="width: 100%;
    height: 400px;
    margin: 30px 0px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>

   <br>
   <br>

  <%= form_tag tshirts_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Search Our Tees"
    %>
  <% end %>
    <% if @results %>
    <% @results.each do |each| %>
    <%= each.description %>
    <% end %>
  <% end %>

  <br>
  <br>

  <div class="container">
  <div class="row">
    <% @tshirts.each do |tshirt| %>
      <div class="card-container col-3">
        <div class="cardd">
          <img src="<%= tshirt.photo %>" alt="">
        </div>
        <div>
          <div class="card-category">
            <h3>
              <%= link_to tshirt.name, tshirt_path(tshirt) %>
            </h3>
          </div>
          <div class="card-description">
            <h2><%= tshirt.description %></h2>
            <h2>$24.99</h5>
          </div>
        </div>
      </div>
    <% end %>
    </div>
</div>




