  <!-- <div class="text-center" style="padding: 15px">
    <h3>View our Tees from around the world!</h3> -->
    <!-- <div class="search-bar" style="width: 50%;"> -->
      <%#= form_tag tshirts_path, method: :get do %>
        <%#= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search Our Tees"
        %>
      <%# end %>
      <!-- commeting out the original seach bar -->
      <% if @results %>
        <% @results.each do |each| %>
          <%= each.description %>
        <% end %>
      <% end %>
    <!-- </div> -->
<!--   </div>
</div> -->

<div class="container-fluid">
    <div class="row">
      <% @tshirts.each do |tshirt| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card">
            <% photoString = tshirt.photo.url[61..-1] %>
            <% photo = "https://res.cloudinary.com/dju9xcsec/image/upload/l_#{photoString},w_425/v1553144623/White.jpg"%>
            <img src="<%= photo %>", height=260, crop: :fill  alt="">
            <div class="card-details">
              <h1><%= link_to tshirt.name, tshirt_path(tshirt) %></h1>
              <h2><%= tshirt.description %></h2>
              <h2>Amount: <%= humanized_money_with_symbol(tshirt.price) %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>

