<br>
<script src="https://cdn.jsdelivr.net/npm/interactjs@next/dist/interact.min.js"></script>
<div class="container">
  <div class="row">
    <div class="col-md">
      <h1>T-Shirt designer</h1>
      <%= simple_form_for(@tshirt) do |f| %>
        <%= f.input :name %>
        <%= f.input :description, as: :text, placeholder: 'Limited to 150 Characters ...', maxlength: 150 %>
        <%= f.input :tags, :hint => 'Add tags separated by commas ","'%>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden  %>
        <%= f.input :x, as: :hidden %>
        <%= f.input :y, as: :hidden %>
        <%= f.input :width, as: :hidden %>
        <%= f.input :height, as: :hidden %>
        <%= javascript_pack_tag 'addListener' %>
        <%= f.submit "Save Tee", class: "btn btn-outline-dark" %>
      <% end %>
      <br>
      <!-- TODO this part of the code can be improved instead of using 1,2,3 we can
      use the white, grey, and black then interpolate the values in the new_design.js -->
      <div class="testing">
        <a href="#" id='test-button'class='btn btn-primary'>Test Your Code</a>
      </div>
      <div class="radio-buttons">
        <ul class="color-choices">
          <li class="color-item">
            <input type="radio" name="choice" value="white" onclick="check_color(1)" id="white">
            <label for="white" id="white-label"></label>
          </li>
          <li class="color-item">
            <input type="radio" name="choice" value="grey" onclick="check_color(2)" id="grey">
            <label for="grey" id="grey-label"></label>
          </li>
          <li class="color-item">
            <input type="radio" name="choice" value="black" onclick="check_color(3)" id="black">
            <label for="black" id="black-label"></label>
          </li>
        </ul>
      </div>
      <br>
      <!-- maybe this doesn't work with quotes, but for the sake of my editor -->
      <a href="<%= tshirts_path %>" class="btn btn-outline-dark">Back to tshirts</a>
    </div>
    <div class="col-md">
      <div class="resize-container" >

          <img id="user-image" class="resize-drag" height=225, width=225, src="https://via.placeholder.com/200x200?text=Placeholder">


      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'extractDataOnSubmit' %>
<%= javascript_pack_tag 'resizable' %>
