<br>
<div class="container">
  <div class="row">
    <div class="col-md">
      <% photoString = @tshirt.photo.url[61..-1] %>
      <% photo = "https://res.cloudinary.com/dju9xcsec/image/upload/l_#{photoString},w_425/v1553144623/White.jpg"%>
      <img src="<%= photo %>", height=550, crop: :fill  alt="">
    </div>
    <div class="col-md">

      <h2><%= @tshirt.name%></h2>
      <p> <%= @tshirt.description %></p>
      <h2> Artist: <%= link_to @tshirt.user.email, user_path(@tshirt.user_id) %></h2>
      <p>Amount: <%= humanized_money_with_symbol(@tshirt.price) %></p>

      <p> <%= form_for @item do |f| %>
        <%= f.hidden_field :tshirt_id, value: @tshirt.id %>
        <%= f.number_field :quantity %>
        <%= f.submit "Add to Cart" %>
        <% end %>
      </p>

      <%= form_tag orders_path do %>
        <%= hidden_field_tag 'tshirt_id', @tshirt.id %>
        <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
      <% end %>

      <div class="nav-buttons">
        <a href="<%= tshirts_path %>" class="btn btn-outline-dark btn-sm">Back to tshirts</a>
        <% if current_user == @tshirt.user || current_user.admin %>
          <a href="<%= edit_tshirt_path %>" class="btn btn-outline-dark btn-sm">Edit tshirt</a>
          <%= link_to "Delete tshirt", tshirt_path(@tshirt), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-dark btn-sm" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<!-- Modal: Not being used currently, just hanging out -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= @tshirt.name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <!-- I need to make it so that i can see if there is a cart for this session or not -->
          <%= cl_image_tag @tshirt.photo, height: 200, width: 400, crop: :fill, radius: 5%>
          <%= simple_form_for :orders do |f| %>
          <%= f.input :quantity, collection: 0..99, prompt: "Quantity", selected: 1 %>
          <%= f.input :size, collection: %w[small medium large], prompt: "Select your age", selected: 21 %>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <%= %>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Checkout</button>
      </div>
    </div>
  </div>
</div>
