<br>
<div class="container">
  <div class="tshirt-basic-info">
    <h1><%= @tshirt.name%></h1>
    <h4> Artist: <%= link_to @tshirt.user.email, user_path(@tshirt.user_id) %></h4>
    <p><%= @tshirt.description%></p>

  </div>
  <div class="row">
    <div class="col-md">
      <div class="tshirt-overlay">
        <% photoString = @tshirt.photo.url[61..-1] %>
        <% photo = "https://res.cloudinary.com/dju9xcsec/image/upload/l_#{photoString},w_425/v1553144623/White.jpg"%>
        <img src="<%= photo %>", height=550, crop: :fill  alt="">
      </div>
    </div>
    <div class="col-md">
      <div class=tshirt-price>
        <h2>Price: <%=humanized_money_with_symbol(@tshirt.price)%></h2>
      </div>
      <div class="tshirt-tags">
        <% tagsArray = @tshirt.tags.split(",") %>
        <% tagsArray.each do |tag| %>
        <span class="tag-element"><%= tag %></span>
        <% end %>

        <%= social_share_button_tag(@tshirt.name , desc: @tshirt.name) %>

      </div>
      <div class="checkout-info">
        <%= link_to 'Add To Cart', new_tshirt_tshirt_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#exampleModal'}  %>
      </div>
      <br>
      <div class="buttons-navigation">

        <a href="<%= tshirts_path %>" class="btn btn-outline-dark btn-sm">Back to tshirts</a>
        <% if current_user == @tshirt.user || current_user.admin %>
          <a href="<%= edit_tshirt_path %>" class="btn btn-outline-dark btn-sm">Edit tshirt</a>
          <%= link_to "Delete tshirt", tshirt_path(@tshirt), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-dark btn-sm" %>
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <h2>More by this artist</h2>
  <div class="row">
    <% @tshirt.user.tshirts.each do |tshirt| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <% photoString = tshirt.photo.url[61..-1] %>
          <% photo = "https://res.cloudinary.com/dju9xcsec/image/upload/l_#{photoString},w_425/v1553144623/White.jpg"%>
          <img src="<%= photo %>", height=260, crop: :fill  alt="">
          <div class="card-details">
            <h1><%= link_to tshirt.name, tshirt_path(tshirt) %></h1>
            <h2><%= tshirt.description %></h2>
            <h2>Amount: <%= humanized_money_with_symbol(tshirt.price) %></h2>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

