<div class="banner user-banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 5%, rgba(10,10,10,0.6) 5%), url('https://source.unsplash.com/GZMjMukr5zU')">

  <div class="user-banner-content">

   <% if @user.photo.present? %>
     <img class="avatar-lg user-avatar" src="<%= cl_image_path(@user.photo)%>" alt="">
   <% else %>
     <img class="avatar-lg user-avatar" src="<%= asset_path('avatar.png')%>" alt="">
   <% end %>
    <h1><%= @user.name %></h1>
  </div>

</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md user-right-align">
      <div class="user-social-links">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
  </div>
  <br>
  <h2>About <%= @user.name %></h2>
  <div class="user-content">
    <p> <%= @user.bio %> </p>
  </div>
  <br>
  <br>
  <h2>Artist Collection</h2>
  <div class="row">
    <% @user.designs.each do |design| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= render './components/card', design: design %>
      </div>
    <% end %>
  </div>
</div>
